[Unit]
Description=Auto-mount Service

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=@CMAKE_INSTALL_FULL_LIBEXECDIR@/automount/automount
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
