[Unit]
Description=Auto-mount Service

[Service]
ExecStart=@CMAKE_INSTALL_FULL_LIBEXECDIR@/automount/main.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
